<h2>Welcome Our First Angular Application</h2>

<!-- <app-student></app-student>
<app-course></app-course> -->

<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-mystyle></app-mystyle> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-course1></app-course1> -->
<!-- <app-post></app-post> -->

<!-- <router-outlet></router-outlet> -->
<app-bootstrap-demo></app-bootstrap-demo>